.orange-plus-container {
    position: relative;
}

.right-arrow-icon {
    width: 40px;
}

.main-logo {
    width: 150px;
    height: 60px;
    padding-left: 20px;
}

.main-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: -12px;
}

.dishes-banner {
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.change-amount-btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.change-amount-btn:hover {
    width: 23px;
    height: 23px;
}

.order-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.trash-bin {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.trash-bin:hover {
    background-color: rgb(148, 148, 148, 0.4);
    border-radius: 18px;
    transition: all .4s ease;
}

.sub-logo {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}

.sub-logo-wrapper img {
    width: 200px;
}

.footer-logo {
    width: 100px;
    position: absolute;
    left: 50%;
    top: 53px;
    transform: translate(-50%, -50%);
}

footer {
    position: relative;
}
